.header {
    display: flex;
    justify-content: space-between;
    
    
}
.links{
    display: flex;
    gap: 10px;
}
body {
    margin: 10px 200px 10px 200px;
}
ul {
    list-style:none;
}
a {
    text-decoration: none;
    color:black;
}
.title {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
.left-title {
    display: flex;
    flex-direction: column;
    flex:1;
    align-items: flex-start;
    
}
.right-title {
    display: flex;
    flex-basis: auto;
    align-items: center;
    justify-content: center;
    background-color: grey;
    flex:1;
}
.items {
    display: flex;
    
    /*justify-content: space-around;*/
}
#garden-text {
    display: flex;
    flex: 1;
}
#garden-img {
    display: flex;
    flex: 3;

}
.menu {
    display: flex;
    flex-direction: column;
    margin-top:  20px;
}

.activities {
    display: flex;
    justify-content: center;
    
}