.header-top {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    
}
.links{
    display: flex;
    gap: 10px;
}
body {
    margin: 10px 200px 10px 200px;
    display:flex;
    flex-direction: column;

}
ul {
    list-style:none;
}
a {
    text-decoration: none;
    color:black;
}
.title {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
.left-title {
    display: flex;
    flex-direction: column;
    flex:1;
    align-items: flex-start;
    
}
.right-title {
    display: flex;
    flex-basis: auto;
    align-items: center;
    justify-content: center;
    flex:1;
}
.items {
    display: flex;
    margin-top:  50px;
}

.items img {
    flex:2;
    display: flex;
    max-width: 100%;
    height: auto;
}

.items p {
    flex:1;
    display: flex;
    align-items: flex-end;
}

.right-title img {
    max-width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}

.footer {
    display: flex;
}

.quote {
    display: flex;
    flex-direction: column;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1;
}

.activities {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.left-title h2 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8
}